<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/main.js"></script>

<%- contentFor('style') %>
<link href="/css/site.css" rel="stylesheet" />

<%- contentFor('body') %>
<ul class="pages">
  <li class="chat page">
    <div class="chatArea">
      <ul class="messages"></ul>
    </div>
    <input class="inputMessage" placeholder="Type here..."/>
  </li>
</ul>